<div class="modal-dialog">
	<form (submit)="onFormSubmit($event)">
		<div class="dx-fieldset">
			<div class="dx-fieldset-header">Login</div>
			<div class="dx-field">
				<div class="dx-field-label">Brukernavn</div>
				<div class="dx-field-value">
					<dx-text-box>
						<dx-validator>
							<dxi-validation-rule type="required" message="Du må oppgi brukernavn"></dxi-validation-rule>
						</dx-validator>
					</dx-text-box>
				</div>
			</div>
			<div class="dx-field">
				<div class="dx-field-label">Passord</div>
				<div class="dx-field-value">
					<dx-text-box
						mode="password">
						<dx-validator>
							<dxi-validation-rule type="required" message="Du må oppgi passord"></dxi-validation-rule>
						</dx-validator>
					</dx-text-box>
				</div>
			</div>
			<div class="dx-field">
				<div class="dx-field-value">
					<dx-button 
					text="Login"
					type="success"  
					[useSubmitBehavior]="true">
				</dx-button>
				</div>
			</div>
		</div>
	</form>
</div>